.glm-numerical-field {
  display: flex;
  .number-field {
    width: 4em;
  }
}

.glm-menu-field {
  display: grid;
  grid-template-columns: min-content max-content;
  border-left: 1px solid var(--border-color);
  margin-left: 5px;
  padding-left: 5px;

  > .glm-menu-property {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: 3;

    > label {
      width: fit-content;
      margin-right: 10px;
    }
  }

  > .glm-menu-property:has(.glm-menu-field) {
    > label {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    > .glm-menu-field {
      grid-template-columns: subgrid;
      margin-bottom: 8px;
      margin-top: 8px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
