.filesystem-panel {
  .directory-list {
    list-style: none;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid var(--foreground-color-3);
    margin-top: 0;
    margin-bottom: 0;
  }

  .directory-line {
    display: flex;

    .directory-button {
      cursor: pointer;
      flex-grow: 1;
    }
  }

  .new-file-container {
    visibility: hidden;
  }

  .directory-line:hover .new-file-container {
    visibility: visible;
  }

  .file-root {
    cursor: grab;
  }

  .file-root:hover {
    background-color: var(--background-color-2);
  }
}
