.graph-node {
  background-color: #444444;
  border-radius: 10px;
  padding: 15px;
  filter: drop-shadow(5px 5px 7px black);
  font-size: 50%;
  color: white;

  textarea {
    border-radius: 5px;
    border: none;
    background-color: #3b3b3b;
    color: white;
    box-shadow: inset 3px 3px 5px #000a;
    padding: 5px;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #1d1d22;
  --background-color-subtle: #262633;
  --background-color-2: #383848;
  --background-color-3: #585878;
  --foreground-color: #ddddf6;
  --foreground-color-2: #ccccee;
  --foreground-color-3: #9999aa;
  --highlight-color: #ccccff;
  --border-color: #777799;

  --keyword-color: #9362ff;
  --variable-name-color: #8bd4ff;
  --bool-color: orange;
  --float-color: #e8e85f;
  --number-color: #eaea6b;
  --literal-color: yellow;
  --string-literal-color: violet;
  --int-color: #68ffb1;
  --function-color: #ea4e4e;
  --property-color: #8bd4ff;
  --type-name: #ef6fdb;

  --error-color: #e73f3f;
}

input,
.input {
  background-color: var(--background-color-2);
  border: 1px solid var(--border-color);
  color: var(--color);
  margin: 3px;
}

input:focus,
.input:focus {
  outline: 2px solid var(--highlight-color);
}

input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

button,
.button {
  background-color: var(--background-color-2);
  border: 1px solid var(--border-color);
  color: var(--color);
  margin: 3px;
  cursor: pointer;
}

:is(button, .button):hover {
  background-color: var(--background-color-3);
}

select {
  border: 1px solid var(--border-color);
  background-color: var(--background-color-2);
  color: var(--foreground-color);
  margin: 5px;
}
